* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
    height: 100vh;
    background-image: url(https://www.supertennis.tv/media/REDAZIONE_NOVEMBRE_2021/20211116_Jannik_Sinner_GSP18646.JPG);
    background-size: cover;
}

header {
	text-align: center;
}

img{
    width: 500px;
}

main {
	margin-top: 80px;
}

input{
    width: 30%;
    margin-left: 5px;
    margin-top: 20px;
}

button{
    width: 70px;
    margin-left: 5px;
}

.todos-container {
    margin: auto;
    max-width: 1200px;
    margin-top: 15%;
	padding: 15px;
    border-radius: 20px;
    background:rgba(0,0,0,0.8);
}

.todos-list {
	list-style: none;
}
.todos-list li {
	padding: 8px;
	border-bottom: 1px solid black;
	display: flex;
	color: red;
}

.todos-list li.active span {
	color: green;
	text-decoration: line-through;
}

.todos-list li i {
	margin-left: auto;
	cursor: pointer;
	color: white;
}

